*{
    font-family: "Roboto", sans-serif;
}
.header{
    width: 90%;
    margin: 0 auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}


/* edit and delte */

.edit-btn{
    border: 0px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.delete-btn{
    padding-bottom: 5px;
    text-align: center;
    padding-top: 10px;
}


#add-post-coantainer article > h2 {
    color:rgb(83, 83, 238);
    
}

#newPost-text{
    padding: 10px;
    margin-bottom: 10px;
}
#newPost-image{
    padding: 10px;
    margin-bottom: 10px;
}

#add-post-coantainer{
    border: 0px solid;
    width: 90%;
    margin: 20px auto;
    display:flex;
    justify-content: center;
}
.addPost-btn{
    width: 100px;
    padding: 10px;
    background-color:green;
    color:white;
    font-weight:500;
    border: none;
    border-radius:10px;

}

.addPost-btn:hover{
    background-color:rgb(90, 212, 90);
    transition: 1s linear;
    cursor: pointer;
}
.logoutBtn{
    background-color: rgb(233, 58, 58);
    color:white;
    border: none;
    padding:10px;
    border-radius:7px;
}

.logoutBtn:hover{
    background-color:rgb(238, 217, 217);
    cursor: pointer;
}
#post-container{
    width: 90%;
    background-color: rgb(212, 182, 182);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.post-user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.post{
    padding:15px;
    border : 2px solid black;
    border-radius: 10px;
    width: 60%;
    margin: 20px;
}

.post-header{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.post-username-time{
    border: 0px solid;
}
.post-username{
    margin: 0;
}
.posted-time{
    color: gray;
    font-size:12px;
}
.post-image{
    display: flex;
    justify-content:center;
}
.post-image img{
    width: 50%;
    border-radius: 10px;
    margin: 15px;
}

.comment{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    gap: 5px;
}

.comment-user-image img{
    width:40px;
    height:40px;
    border-radius: 50%;
}

.comment-text-container{
    background-color: rgb(175, 202, 175);
    padding: 10px;
    border-radius:8px;
}

.comment-text-container h4,p{
    margin-bottom: 5px;
}

.postComment-holder{
    display: flex;
    gap: 10px;
    margin : 50px;

}

.post-comment-input-field-holder{
    width:70%;

}

.post-comment-input-field{
    padding: 10px;
    outline: none;
    border:0px solid;
    width: 80%;
}

.postComment-btn{
    padding: 10px;
    background-color:rgb(181, 135, 226);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px; 
}

.postComment-btn{
    cursor: pointer;

}

.postComment-btn:hover{
    background-color:rgb(110, 110, 235);
    
}